

.micont{
    z-index: 100;
}

.logoImg {
    position: relative;
    z-index: 1;
}

.logoImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; 
    z-index: -1;
}

.mobile {
    margin-top: 20px;
  }
  .mobileNav{
    width: 83.333333%;
  }

  .pruebacss{
    border-radius: 20px;
  }

  .btnAdd{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .inputSearch{
    margin-right: 20px;
  }

  .btns{
    margin-left: 20px;
  }

  .tableMessage{
    width: 90%
  }

  .table-padding{
    padding:0;
  }

  .lineChart{
    width: 70%;
  }

  .linearContent{
    width: 100%;
  }

  .pieContent{
    display: flex;
    justify-content: center;
  }

  .content-pie{
    width: 45%;
  }
  .content-line{
    width: 50%;
    margin-top: 55px;
  }

@media only screen
and (min-width: 320px)
and (max-width: 736px)
{ 
    .mobile {
      margin-top: 0;
    
    }

    .mobileNav{
        width: 100%;
      }

      .pruebacss{
        border-radius: 0;
      }

      .btnAdd{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .btns{
        margin-bottom: 5px;
        margin-left: 0;
      }

      .inputSearch{
        margin-right: 0;
        margin-bottom: 10px;
      }

      .tableMessage{
        width: 90%;
      }

      .table-padding{
        padding:0 20px;
      }

      .lineChart{
        width: 90%;
        overflow-x: auto;
      }

      .pieContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .content-pie{
        width: 100%;
      }

      .content-line{
        width: 90%;
        margin-top: 40px;
      }


}

@media (max-width: 768px) {

  
  }

