@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Asegura que el body y el html ocupen toda la altura de la p치gina */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1fb;
  /* Color de fondo deseado */
}




/* Estilo para la barra de desplazamiento en su totalidad */
::-webkit-scrollbar {
  width: 4px;
  /* Ancho de la barra de desplazamiento */
  height: 12px;
  /* Altura de la barra de desplazamiento (para desplazamiento horizontal) */
}

/* Estilo para el "track" o riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #1c253600;
  /* Color de fondo del riel */
  border-radius: 10px;
  /* Bordes redondeados para el riel */
}

/* Estilo para el "thumb" o parte m칩vil de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  /* Color de fondo del thumb */
  border-radius: 10px;
  /* Bordes redondeados para el thumb */
}

/* Cambiar el color del thumb al pasar el rat칩n por encima */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color de fondo del thumb al pasar el rat칩n */
}