.box-style {
   background-color: rgb(255, 255, 255);
   height: 160px;
   width: 30vw;
   border: 1px solid rgb(231, 231, 231);
   box-shadow: 0px 5px 10px 0px rgb(216, 216, 216);
   position: relative;
   overflow: hidden;
}

.fondo{
    /* background-color: aliceblue; */
}

.box-grafic{
    width: 100%;
 }
 .box-grafica{
    width: 60%;
 }

 .box-apex{
    width: 50vw;
    height: 50vh;
    margin-left: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 10px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 5px 10px 0px rgb(216, 216, 216);
 }

 .box-table{
    width: 100vw;
    height: 56vh;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 5px 10px 0px rgb(216, 216, 216);
 }

 .table-users-box{
    
 }

 .box-table-ventas{
    margin-top: 20px;
    overflow: hidden;
 }

 .cont-table-user{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0 0 23px 23px;
    box-shadow: 0px 5px 10px 0px rgb(216, 216, 216);
    margin-bottom: 20px;
    overflow:"hidden"
 }

 .box-pie-table{
   border: 1px solid rgb(219, 219, 219);
    border-radius: 23px;
    box-shadow: 0px 5px 10px 0px rgb(216, 216, 216);
    margin-bottom: 20px;
    margin-left: 20px;
 }

 .contenedor-table{

 }

 .box-box{
   height: 120px;
   width: 100%;
   border-radius: 20px;
   background-color: #007867;
   display: flex;
   padding: 15px;
   justify-content: space-around;
   overflow: hidden;
   position: relative;
 }

 .box-box-content{
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 50%;
 }

 .box-box-content h3{
   font-weight: 600;
 }

 .box-box-content p{
   font-weight: 600;
 }

 .box-span-img{
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .img-box{
   width: 50px;
 }

 .box-span-img2{
   width: 20%;
   display: flex;
 }

 .img-box2{
   position: absolute;
   right: -10px;
   top: 20px;
   width: 100px;
 }

 .box-box2{
   height: 120px;
   width: 25vw;
   border-radius: 20px;
   background-color: #006c9c;
   display: flex;
   padding: 15px;
   justify-content: space-around;
   overflow: hidden;
   position: relative;
 }
 .box-box3{
   height: 120px;
   width: 25vw;
   border-radius: 20px;
   background-color: #FF6F61;
   display: flex;
   padding: 15px;
   justify-content: space-around;
   overflow: hidden;
   position: relative;
 }


 .container-apex-pie{
   width: 60vw;
   height: 75vh;
   position: relative;
   padding-bottom: 60px;
 }

 .container-apex-box{
   width: 40vw;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .container-apexPie-box{ 
  height: auto;
  display: flex;
 }
 .cont-title-json{
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cont-icon-json{
  display: flex;
  margin-bottom: 50px;
 }

.img-cubo-dasboard{
  width: 250px;
  position: absolute;
  right: -70px;
  top: 10px;
}

.animation-lottie-json{
  width: 70vw;
  height: 70vh;
}
 


@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
    .box-style {
        height: 160px;
        width: 100%;
        margin-bottom: 20px;
     }
     .box-grafic{
        width: 100%;
     }
     .box-grafica{
        width: 60%;
     }

     .box-table{
      width: 100vw;
     }

     .box-apex{
      width: 100%;
      height: 300px;
      margin: 0;
      margin-bottom: 50px;
     }

     .container-apexPie-box{ 
      height: auto;
     }

     .container-apex-pie{
      width: 100%;
      border-radius: 20px;
     }

     .container-apex-box{
      margin-top: 100px;
      width: 100%;
     }

     .box-box{
      width: 100%;
     }

     .box-box2{
      width: 100%;
     }

     .box-box3{
      width: 100%;
     }

     .box-box-content{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    .container-card-box{
      width: 100%;
    }
    .cont-table-apexg{
      display: flex;
      flex-wrap: wrap-reverse;
    } 

    .container-apex-pie{
      height: 300px;
    }

    .container-apexPie-box {
      display: flex;
      flex-direction: column;
    }

   
}

@media only screen and (min-width: 800px)
and (max-width: 1280px)
{
   
   .clone{
      display: flex;
      justify-content: start;
      align-items: end;
      padding-bottom: 20px;
      padding-top: 20px;
     }

     .box-style {
      border-radius: 20px;
   }

     .box-grafic{
      width: 100%;
      border-radius: 15px;
     }

     .box-grafica{
      width: 50%;
      padding-right: 5px;
     }



     .box-table{
      width: 100%;
       height: 80vh;
     }

     .box-apex{
      width: 50%;
      height: 73vh;
      border: 2px solid red;
     }

     .text-title{

     }
     
     .alza{
      /* display: flex;
      border: 2px solid;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      rotate: 180deg; */
      display: flex;
      font-weight: 500;
     }

     .down{
      width: 16px;
     }

    


     
}


