.registro-01-form{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 20px;
 margin-right: 20px;
 padding: 20px 0px;
 background-color: white;
 border-radius: 20px;
}

.form-001-span{
 display: flex;
 width: 500px;
 justify-content: space-between;
}

.form-00-span-textFiel{
 width: 48%;
 background-color: white;
}

.form-01-span-textField{
 width: 100%;
 background-color: white;
}

.registro-01-form-title{
 font-size: 32px;
 text-transform: uppercase;
 text-align: center;
 font-weight: 600;
 color: rgb(50, 50, 197);
}

.registro-00-div-form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 500px;
}

.registro-01-div-form{
 display: flex;
 flex-direction: column;
}