.form_exp{
    width: 25vw;
}

.div_formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.div_formulario h2{
    font-weight: 500;
    font-size: 18px;
    color: #006aff;
}

.input_form{
    height: 8vh;
    font-size: 1.1rem;
}