.link_nav{
    width: 100%;
    height: 40px;
    display: flex;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.cont-nav{
    width: 230px;
    height: 100vh;
    position: fixed;
    transition: .4s;
    background-color: #1c2536;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    overflow-y: auto;
}

.cont-nav:hover{
    width: 230px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .dropdown-menu.show {
    display: block;
    opacity: 1;
  }
